body {
    font-family: Arial, sans-serif;
    background-color: #1847b7;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #0a2e52d4;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0rem 1rem 1.5rem rgba(0,0,0,0.3);
    text-align: center;
    max-width: 450px;
    width: 100%;
}

h1 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.bio {
    color: #d2d2d9;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 0.1rem solid #8bb6f6;
    color: #8bb6f6;
    padding: 0.8rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.btn i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: #8bb6f6;
    color: #1847b7;
    transform: scale(1.05);
}